<div class="backlink-box" data-clan="{{backlink.Clan}}" data-age="{{backlink.age}}">

    {%assign clan = backlink.Clan %}
    {% if backlink.firstName %}
        {% assign firstName = backlink.firstName %}
    {% else %}
        {% assign nameSegments = backlink.title | split: " " %}
        {% assign firstName = nameSegments[0] %}
    {% endif %}
    {% capture namePath %}
        /assets/clans/{{clan|
								capitalize}}/{{firstName}}.webp
    {% endcapture %}

    <div class="backlink-img__wrapper">
        {% assign zoom = backlink.zoom %}
        {% assign positionClass = backlink.imagePosition %}
        {% case positionClass %}
            {% when 'center' %}
                {% assign className = 'image-center' %}
            {% when 'right' %}
                {% assign className = 'image-right' %}
            {% when 'left' %}
                {% assign className = 'image-left' %}
            {% else %}
                {% assign className = 'image-top' %}
        {% endcase %}
        {% if zoom and zoom == 'in' %}
            {% assign zoomClass = 'zoom-in' %}
        {% elsif zoom == 'out' %}
            {% assign zoomClass = 'zoom-out' %}
        {% else %}
            {% assign zoomClass = 'zoom-none' %}
        {% endif %}
        {% capture customClassList %}
            backlink-img {{className}}
            {{zoomClass}}
        {% endcapture %}
        <img class="{{customClassList}}" src="{{namePath | strip}}" alt="{{namePath}}" />
        <div class="badge__holder">
            {% if backlink.tags contains "Condition/Deceased" %}
                {% include card-badge.html type="deceased" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Location/Bathhouse" %}
                {% include card-badge.html type="spa" ext="png" invert="true" %}
            {% endif %}
            {% if backlink.tags contains "Location/Traveling" %}
                {% include card-badge.html type="out-of-town" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Location/Forest" %}
                {% include card-badge.html type="willow-tree" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Location/Quantum-Island" %}
                {% include card-badge.html type="quantum-island" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Location/Observatory" %}
                {% include card-badge.html type="quantum-island" ext="svg" %}
                {% include card-badge.html type="observatory-3" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Location/Abyss" %}
                {% include card-badge.html type="falling-rocks" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Condition/Missing" %}
                {% include card-badge.html type="missing" ext="png" invert="true" %}
            {% endif %}
            {% if backlink.tags contains "Condition/Hacked" %}
                {% include card-badge.html type="processor" ext="svg" %}
            {% endif %}
            {% if backlink.tags contains "Special/Resurrected" %}
                {% include card-badge.html type="embrassed-energy" ext="svg" %}
            {% endif %}
        </div>
    </div>

    <!-- Link to other page-->
    <div class="backlink__content">

        <a class="internal-link" href="{{site.baseurl}}{{backlink.url}}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
        <p class="is-hidden">{{backlink.tags}}</p>
        {% if include.includeRelationships == "true" %}
            {% include relationships.html %}
        {% endif %}
    </div>
</div>