<table>
    <thead>
        <tr>
            <th>Exodus</th>
            <th>Named after our Ancestors’ departure from the Sky Archipelago. Also represents the ending of the Tempest Moon.</th>
            <th>Arrival Day (the day our Ancestors arrived in Copper Grove, celebrated on the first ShelDay of the month).</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cloud Cry</td>
            <td>Named after our Ancestors’ descent through the clouds to the Fey Forest below. Though Tempest is over, the weather is still temperamental.
                <br>The moods of the clouds are mercurial, the weather quick to cycle rapidly and without warning.
                <br>More ‘alien’ storms are frequent this month.</td>
            <td>Certain storms that are considered ‘Good omens’ during Cloud Cry are either “Verdant Showers” or “Plasma Blooms”.
                <br>The former comes as a vibrant green rain that rapidly accelerates plant growth. This signals a milder Star Sear, or at least that any plants during this time will be more resilient to the heat.
                <br>Plasma Blooms are caused when lightning strikes the earth, causing flowers to bloom where it struck. Usually these blossoms wither and die once the storm is over, but very rarely, especially on a LushDay, a host of forest spirits will move into the flower bed, preserving it, marking a sacred site.
            </td>
        </tr>
        <tr>
            <td>Star Sear</td>
            <td>Named after the starflame breath of the Star dragons who pursued our ancestors during their escape from the sky. <br>The hottest month of the year.
                <br>This month, even the moonlight seems to scald and sear. The starlight pierces like hot needles. Humidity like a smothering blanket. The dark provides little relief.
                <br>Stay in the shade of trees or by the lake. Pray for a cool breeze.</td>
            <td>Planting season begins here, if a Verdant Shower does not happen during Cloud Cry. Beginning your planting at night is recommended so you are not baked alive.
                <br>But when even the moonlight can get quite hot, perhaps it’s wise to ask the Farrowdream druids to weave the tree-branches to give you shade.
            </td>
        </tr>
        <tr>
            <td>Tide's Call</td>
            <td>The first two weeks of this month, on the first RainDay, our shared island returns from the seaside town of Amolai, yet this time seems to bring half of the damn sea with it.
                <br>Rather than clouds, the sky above our Grove is covered in a rippling layer of floating water.
                <br>The shade and strange shimmering dappled light is a mystical sight and a welcome relief from the scorching heat.
            </td>
            <td>‘Catch’ — a Scavenger Hunt game for the town kids, which arose from the many field trips to learn about the marine life that swim above.<br>
                While they’re encouraged to draw or write about the creatures they spot in their books, older kids and teenagers tend to take it a bit far, climbing the floating islands and playing Leaper to actually reach the floating seas to try and *physically* catch the creatures.
                <br>So many needless injuries. (This includes myself. I won’t lie and say I didn’t do this when I was young. Broke my wrist.)<br>On the bright side, Ambassadors from Amolai often make official visits during this month to discuss trade.
                <br>Their Priestess is… intense. She scares me.
            <br>Unsurprisingly, my mother-in-law adores her.</td>
        </tr>
        <tr>
            <td>Quench</td>
            <td>Even as the sky-sea recedes, evaporated waters causing rains and flooding from Tide's Call continue to cool the hot, dry air and cause frequent mists. <br>Plants are watered well, but be careful they aren’t drowned.</td>
            <td>A favorite month for drinking, a tradition that arose seemingly after the month was named.
                <br>The Ark family shares their excellent brews of beer, and the Yolo’s(?) their Kumis.
                <br>Quench also has the reputation of being a month where a lot of romantic trysts happen.</td>
        </tr>
        <tr>
            <td>Flowerfall</td>
            <td>Blossoming trees lose their petals.
            </td>
            <td>A favorite month for romance. ( Or perhaps the officiation of one-night-‘romances’ that occured during Quench. )
                <br>LumeDays are particularly gorgeous this month, with even the drifting petals seeming to glow in the dark.
                <br>Glowing whitecaps and luminous algal blooms entice couples and ‘cules go out on the lake to see them, and even camp out on the smaller islands.
                <br>Kuone’s and my first date was l</td>
        </tr>
        <tr>
            <td>Transcendence</td>
            <td>Five days which have no month.
            </td>
            <td>Transgressions are forgiven.
                <br>You’re encouraged to let go of old grudges.<br> I find this to be bullshit.
            <br>(Eva’s Note: Coming of Age/Pool bathing ceremony for the kids?)</td>
        </tr>
        <tr>
            <td>Rapture Moon</td>
            <td>Rapture Moon</td>
            <td>A month for festivals and celebrations, especially each RevelDay.
                <br>Toward the end of the month, bridging Rapture Moon and Molten Moon, the Quantum BathHouse does what the Alimoux clan call ‘unraveling’.
                <br>Not only do more tiny satellite facilities appear around the Bathhouse’s structure on our lake, but within the bathhouse, doors and corridors ‘unfold’ and appear, some leading ‘outside’ to an other-realm called the City of Myth.
                <br>This City, affectionately called the ‘Playground’ by the youth, hosts all manner of … indulgences, in which foolhardy teenagers dare each other to partake.
                <br>It doesn’t help, I’m told, that  just like the Forest and the Abyss, the deeper you go, the stranger it gets.
                <br>
                Maybe this year we can request more chaperones and guards, as the Alimoux in the Bathhouse seem quite nonchalant about the youth sneaking in.
                <br>We really don’t want a repeat of last Rapture Moon when my nephew Evaluce came home with his tongue crystallized to the roof of his mouth after trying some illicit substances.
                <br>(He claims it was simply caused by some ‘exotic cuisine’ he sampled. I doubt it.<br> …unless that’s a euphemism for something?)</td>
        </tr>
        <tr>
            <td>Molten Moon</td>
            <td>As the air cools further, volcanic activity spills mineral-rich solutions into the hot springs and pools around the lake.<br> The pools take on vivid colors, painted by the minerals.
            <br>Bathing in the heated and enriched pools is said to provide everything from healing to increased strength to inspiration.</td>
            <td>Though the Quantum BathHouse ‘folds’ back into its more compact form, breaking connection to the City of Myth, its internal baths are similarly blessed by the lake’s minerals, and Alimoux attendants offer their knowledge and expertise on which mineral baths are best.<br>( They have cultivated a population of aquatic slugs that feed on rough skin, their mucin acting as a ‘humectant’.
                <br>A few years back, Siobhan brought home a batch of them, which got loose in Elvorix’s bath-chambers and began to multiply.<br>At first I was elated, but now I can’t be sure they’re not what’s keeping her alive )</td>
        </tr>
        <tr>
            <td>Slug Moon</td>
            <td>Frequent slug rains and slug falls. A favorite time of year.
            </td>
            <td>Slugmas :) Slug-based Scavenger Hunts and gift-giving. A favorite time of year, especially for the kids.
            </td>
        </tr>
        <tr>
            <td>Reaping Moon</td>
            <td>The crops are harvested and stored for the coming months of frigid cold and raging storms.</td>
            <td></td>
        </tr>
        <tr>
            <td>Steading Moon</td>
            <td>Now that the main food crops have been harvested, most of the townspeople settle indoors, especially in preparation for the Wild Hunt next month.
            <br>The FarBrand clan makes many repairs, fortifications and extensions to homes for anyone who needs it.</td>
            <td></td>
        </tr>
        <tr>
            <td>Wild Moon</td>
            <td>It grows quite cold, and sometimes there are powdery flurries of snow.
                <br>But it’s not the cold that drives and bars our people indoors, but rather the raging storm of spirits known as The Wild Hunt.
                <br>Everyone knows of its danger. You’d be wise to heed it. Stay indoors.
            </td>
            <td>Wild Hunt</td>
        </tr>
        <tr>
            <td>Synth Moon</td>
            <td>Snow falls, things freeze. A layer of frost and ice covers the land and the lake like a glaze of clear synth.
                <br>Only the hydrothermal vents in the lake keep its surface from freezing over completely, leaving some openings into the water and the Abyss.
                <br>(Though the slugfolk seem unbothered, seeming to snuggle quite comfortably under the ceiling of ice. Their neighborhood is built around a heat vent, I suppose.)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Io Moon (also known as ‘Moonfall’)</td>
            <td>In the quiet and the cold, a strange new moon appears in the sky, increasing in brightness and size each passing day. Some say the moon speaks, that her name is Io, and She traveled from a storm-wracked world to haunt ours. Toward the end of the month, the moon Io causes the weather and tides to grow more intense, heralding the start of the tempest season. In the last days of the month, harsh blizzards whip through our town, but on the last day, Io plummets below the horizon, seeming to almost crash into the lake, and shatter its ice.</td>
            <td>‘Moonfall/Breaking Day’ — (The eve of the Io Moon to the first day of the Tempest Moon)
                <br>The moon Io sinks below the horizon and, from our perspective, seems to crash into the lake, causing the frozen surface to crack and shatter.
                <br>The lake-water glows, warms, and effervesces, as if the moon Io dissolved into it. Its waves whip into a luminous foam.
                <br>While this is most likely caused by more subsurface volcanic activity, an expulsion of heat, minerals and gasses from the rock in the lake-bed, than the moon literally dissolving into the lake like what I’m told is called a ‘bath bomb’, its effects are strange and striking.<br>As long as you can appreciate them, I suppose, before the storms start.
            <br>Does this moon, Io, truly live, and seek some sort of vengeance upon us or those who dwelled here before? Or are these storms more her cry for help?</td>
        </tr>
        <tr>
            <td>Tempest Moon</td>
            <td>The start of the Season of Tempest. A season plagued by terrible storms. Drowning rains, tornado swarms, even just winds strong enough to carry unicorns away. Thunder cracks so loudly and quakes the earth, that any remaining ice shatters like glass.
            </td>
            <td>Breaking Day (see previous entry).
                <br>With storms sometimes wild enough to uproot trees, it is no wonder the Farrowdream clan keep their most prized plants within their enchanted greenhouse.
                <br>Even the sea-town of Amolai faces hurricanes and tsunamis, protected only, they claim, by their strange leviathan ‘goddess.’<br>(Given how our towns are connected, the ruins of the ancients also found along the sea, I wonder if this tentacled being, in some way,  protects us as well)</td>
        </tr>
    </tbody>
</table>
