<section class="drawer {{include.classes}}" data-variant="{{include.variant}}" data-always-fixed="{{include.alwaysFixed}}">
    {% if include.sideButton %}
        {%- comment -%}
            For buttons along the side that attach the toggle, absolutely positioned
        {%- endcomment -%}
        <button class="drawer__toggle-button" data-variant="color-hover">
            {% include font-icon.html icon="chevron_right" %}
        </button>
    {% endif %}
    {% if include.innerButton %}
        <button class="drawer__toggle-button inner" data-variant="bg-color-hover">
            {% include font-icon.html icon="close" %}
        </button>
    {% endif %}
    <section class="drawer__content-wrapper">
        {{include.content}}
    </section>
</section>
