{% assign allTags = site.notes | map: "tags" | uniq %}
<fieldset class="tab-group">
    {% include filter-set.html allTags=allTags filter="Clans/" groupId="clan" filterByString="Clan" %}
</fieldset>
<div class="svg-container">
  <defs>
        <linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(126.132,82.7798,-82.7798,126.132,847.893,225.227)"><stop offset="0" style="stop-color:rgb(255,30,106);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(255,204,43);stop-opacity:1"/></linearGradient>
        <linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(117.217,76.8364,-76.8364,117.217,847.893,225.227)"><stop offset="0" style="stop-color:rgb(218,69,140);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(253,119,84);stop-opacity:1"/></linearGradient>
        <linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(117.217,76.8364,-76.8364,117.217,847.893,225.227)"><stop offset="0" style="stop-color:rgb(253,80,177);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(134,6,233);stop-opacity:1"/></linearGradient>
        <linearGradient id="_Linear4" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(117.217,76.8364,-76.8364,117.217,847.893,225.227)"><stop offset="0" style="stop-color:rgb(50,233,254);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(197,21,247);stop-opacity:1"/></linearGradient>
        <linearGradient id="_Linear5" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-121.021,-92.0515,92.0515,-121.021,970.375,301.302)"><stop offset="0" style="stop-color:rgb(57,155,252);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(105,251,188);stop-opacity:1"/></linearGradient>
   <linearGradient id="lgrad0" x1="100%" y1="100%" x2="0%" y2="0%" >

          <stop offset="0%" style="stop-color:rgb(238,130,238);stop-opacity:1.00" />
          <stop offset="100%" style="stop-color:rgb(0,209,255);stop-opacity:1.00" />

    </linearGradient>
  </defs>
    <div class="button-wrapper single">

        <button id="reset-button" title="reset">
            <span class="material-symbols-outlined">
                restart_alt
            </span>
        </button>

        <p class="instructions">Use
            <span>arrow</span>
            keys or
            <span>WASD</span>
            to pan</p>
        <p class="instructions">Use
            <span>+</span>
            or
            <span>-</span>
            to zoom</p>
        <p class="instructions">Hover over portrait to highlight immediate family members.</p>
        <span class="input-span toggle-button">
            <input
                checked
                id="show-unions"
                name="showUnions"
                onchange="toggleInput(event)"
                type="checkbox" />
            <label for="show-unions">Show Unions</label>
        </span>
    </div>
    {% assign Clans = site.notes | map: "Clan" | uniq | compact %}
	{% include family-tree-display.html people=include.people familyName=include.familyName %}
</div>

<script src="/assets/scripts/family-tree.js"></script>
