<section class="location-map location-map-wrapper outer-wrapper" data-press-action="handleHotkey">
    <div class="location-info can-be-expanded">
        <div class="location-info__header">
            <div class="global-controls controls">
                {% assign icon1 = 'gallery_thumbnail' %}
                {% assign icon2 = 'zoom_out_map' %}
                {% assign icon3 = 'undo' %}
                {% include icon-button.html clickAction="toggle" scope="global"
                iconName="gallery_thumbnail"
                class="toggle"
                tooltipText="show/hide location image gallery"
            %}
                {% include icon-button.html clickAction="backOne" scope="global"
                iconName="undo"
                class="backOne"
                tooltipText="zoom out to parent"
            %}
                {% include icon-button.html clickAction="reset" scope="global"
                iconName="zoom_out_map"
                class="reset"
                tooltipText="zoom out map entirely"
            %}
                {% include icon-button.html clickAction="fold" scope="global"
                iconName="unfold_less"
                class="fold"
                tooltipText="fold the portrait for more content space"
                %}
                {% include icon-button.html clickAction="expand" scope="global"
                iconName="menu_open"
                class="expand"
                tooltipText="expand or close sidebar"
                %}
            </div>

        </div>
        {% include map-ui.html prefix="location-info" hasControls=true hasTabs=true hasPortrait=true classes="tabbed-sidebar" visibility="visible" %}

    </div>
    <section class="location-map" data-path="{{include.path}}">
        <svg class="location-map__svg location__container parent-list" viewbox="0 -10 100 100" data-type="region" style="--bg-img: url({{include.img}})">
            <defs>
                <pattern id="mainImagePattern" patternUnits="userSpaceOnUse" width="100" height="100" x="0" y="0">
                    <image width="100" height="100" href="{{include.img}}"></image>
                </pattern>
            </defs>

        </svg>

        <div class="child-location location-hover-info">
            {% include map-ui.html prefix="child-location-info" classes="top-card" visibility="faded" %}
        </div>
        <div class="decor bottom-card">
            <img src="{{include.img}}" alt=""/>
            <h3 class="bottom-card__title dark-background">
                {{include.title}}
            </h3>
        </div>
    </section>
</section>
<script src="/assets/scripts/modal.js" type="module"></script>
<script src="/assets/scripts/region-viewer.js" type="module"></script>
