<section class="location-map" data-path="{{include.path}}">
    <svg class="location-map__svg location__container parent-list" viewbox="0 -10 100 100" data-type="region">

    </svg>
    <div class="global-controls">
        <button class="toggle" data-click-action="toggle" data-scope="global">
            Show Image
        </button>
        <button class="reset" data-click-action="reset" data-scope="global">
            Reset Zoom
        </button>
        <button class="backOne" data-click-action="backOne" data-scope="global">
            Back One
        </button>
    </div>
    <div class="location-info expanded">
        <div class="location-info__header">
            <h1 class="location-info__title">
                {{include.title}}
            </h1>
            <button class="expand" data-click-action="expand">
                >
            </button>
        </div>
        <div class="location-info__content">
            {%- comment -%}
                <img class="location-info__img" src="" alt="">
            {%- endcomment -%}
            <p class="location-info__tags bold"></p>
            <p class="location-info__description"></p>
            <h3 class="location-info__children-title"></h3>
            <ul class="location-info__children"></ul>
            <h3 class="location-info__connections-title"></h3>
            <ul class="location-info__connections"></ul>
            <h3 class="location-info__cast-title"></h3>
            <ul class="location-info__cast"></ul>
            <h3 class="location-info__factions-title"></h3>
            <ul class="location-info__factions"></ul>
        </div>

    </div>
    <div class="child-location location-hover-info can-be-hidden hidden" data-default-visibility="hidden">
        <h2 class="child-location__title"></h2>
        <p class="child-location__tags"></p>
        <p class="child-location__description"></p>
        <h3 class="child-location__connections-title"></h3>
        <p class="child-location__connections"></p>
        <h3 class="child-location__children-title"></h3>
        <p class="child-location__children"></p>
        <h3 class="child-location__cast-title"></h3>
        <ul class="child-location__cast"></ul>
        <h3 class="child-location__factions-title"></h3>
        <ul class="child-location__factions"></ul>
    </div>
</section>
<script src="/assets/scripts/modal.js" type="module"></script>
<script src="/assets/scripts/region-viewer.js" type="module"></script>
