<div class="{{include.prefix}}__content tabbed-sidebar">
    <div class="{{include.prefix}}__card map-info-card flatten">

        <div class="{{include.prefix}}__portrait card-portrait"></div>
        <div class="{{include.prefix}}__card-content card-content">
            <h3 class="{{include.prefix}}__card-title card-title"></h3>
            <p class="{{include.prefix}}__tags bold"></p>

        </div>
    </div>

    <section class="tab-section">


        <div class="tab-section__content flatten">
            <div class="tab-content active" id="Lore">
                <p class="{{include.prefix}}__description"></p>
            </div>
            <div class="tab-content" id="Geography">
                <button class="collapsible active" data-click-action="open" data-variant="color-hover">
                    <span class="{{include.prefix}}__children-title"></span>
                </button>
                <div class="content active">
                    <ul class="{{include.prefix}}__children"></ul>
                </div>
                <button class="collapsible" data-click-action="open" data-variant="color-hover">
                    <span class="{{include.prefix}}__connections-title"></span>
                </button>
                <div class="content">
                    <ul class="{{include.prefix}}__connections"></ul>
                </div>
            </div>
            <div class="tab-content" id="Cast">
                <button class="collapsible" data-variant="color-hover" data-click-action="open">
                    <span class="{{include.prefix}}__cast-title"></span>
                </button>
                <div class="content">
                    <ul class="{{include.prefix}}__cast"></ul>
                </div>
                <button class="collapsible" data-variant="color-hover" data-click-action="open">
                    <span class="{{include.prefix}}__factions-title"></span>
                </button>
                <div class="content">
                    <ul class="{{include.prefix}}__factions"></ul>
                </div>
            </div>
        </div>
        {%- if include.hasTabs -%}
            <div class="tabs">
                <button class="tab active" data-target="Lore" data-click-action="switchTab" data-variant="glow-hover">
                    Lore
                </button>
                <button class="tab" data-target="Geography" data-click-action="switchTab" data-variant="glow-hover">
                    Geography
                </button>
                <button class="tab" data-target="Cast" data-click-action="switchTab" data-variant="glow-hover">
                    Cast
                </button>
            </div>
        {%- endif -%}
    </section>
</div>
