<ul class="nav-section {{ include.navType }}">
    {% if include.navType == "mobile" %}
        <button class="main-nav-toggle inner">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    {% else %}
        <button class="main-nav-toggle outer padding-small">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
    {% endif %}
    {%- for item in site.data.nav_tabs -%}
        {% include menu-item.html
         icon=item.icon
         text=item.text
         path=item.path
         tagName=item.tagName
         category=item.category
         hasDropdown=item.hasDropdown %}
    {%- endfor -%}
</ul>
