<div id="search">
    <div class="input-wrapper flex-align-center" data-variant="search">
        <label class="outer-label flex-row flex-align-center" for="search-box">
            {% include font-icon.html icon="search" %}
        </label>
        <input
            id="search-box"
            name="search-box"
            oninput="filterSearch(event)"
            type="text"
            placeholder="Who are you looking for?"
                >
    </div>
    <section class="filter-section--wrapper">
        <button class="expand-button" data-variant="color-hover">
            Filters
        </button>
        <section class="filter-section toggle-list">
            {% assign allTags = site.notes | map: "tags" | uniq %}
            <hr>
            <fieldset class="active-filters">
                <legend>
                    Active Filters
                </legend>
                <span class="filter-span active"></span>
            </fieldset>

            <hr>
            <fieldset class="global-filters">
                <legend>
                    Global Toggles
                </legend>
                <span class="filter-span global">
                    <input
                    id="show-deceased"
                    name="show-deceased"
                    onchange="toggleAll(event)"
                    type="checkbox" />
                    <label for="show-deceased">
                        Show Deceased
                    </label>
                </span>
            </fieldset>
            <hr>
            {% unless include.hideClanFilters %}
                {% include filter-set.html allTags=allTags filter="Clans/" groupId="clan" filterByString="Clan" %}
            {% endunless %}

            <hr>

            {%- comment -%}
                Location Filters
            {%- endcomment -%}
            {% include filter-set.html allTags=allTags filter="Location/" groupId="location" filterByString="Residence"%}

            {% include filter-set.html allTags=allTags filter="Faction/" groupId="faction" filterByString="Faction"%}


            <hr>
            {% include filter-set.html allTags=allTags filter="Age/" groupId="age" filterByString="Age"%}
            {% include filter-set.html allTags=allTags filter="Condition/" groupId="condition" filterByString="Status"%}
            <hr>
            {% include filter-set.html allTags=allTags filter="Special/" groupId="special" filterByString="Special"%}
        </section>
    </section>
</div>

<script src="/assets/scripts/search.js"></script>
