<div id="search">
    <div class="input-wrapper flex-align-center" data-variant="search">
        <label class="outer-label flex-row flex-align-center" for="search-box">
            {% include font-icon.html icon="search" %}
        </label>
        <input
            id="search-box"
            name="search-box"
            oninput="filterSearch(event)"
            type="text"
            placeholder="Who are you looking for?"
                >
    </div>

</div>
<script src="/assets/scripts/search.js" type="module"></script>
