{% if page.backlinks.size > 0 %}
    <div class="card-container">
        {% for card in page.backlinks %}
            {{card.image}}
            <div class="card">
                {%- comment -%}
				<!-- Getting name for finding appropriate image--> 
				{%- endcomment -%}
                {%assign clan = card.Clan %}
                {% if card.firstName %}
                    {% assign firstName = card.firstName %}
                {% else %}
                    {% assign nameSegments = card.title | split: " " %}
                    {% assign firstName = nameSegments[0] %}
                {% endif %}
                {% capture namePath %}
                    /assets/clans/{{clan|
							capitalize}}/{{firstName}}.webp
                {% endcapture %}
                {%- comment -%}
						 image for cards
						{%- endcomment -%}
                <div class="card-img__wrapper">
                    {% if card.imagePosition %}
                        <img class="card-img" src="{{namePath}}" alt="{{namePath}}" style="object-position: center !important;" />
                    {% else %}
                        <img class="card-img" src="{{namePath}}" alt="{{namePath}}" style="object-position: top;" />
                    {% endif %}
                </div>

                <!-- Link to other page-->
                <div class="card__content">

                    <a class="internal-link" href="{{site.baseurl}}{{card.url}}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ card.title }}</a>

                    <!-- Get OUR first name (current page's)-->
                    {% if page.firstName %}
                        {%assign ourFirstName = page.firstName %}
                    {% else %}
                        {% assign ourNameSegments = page.title | split: " " %}
                        {% assign ourFirstName = ourNameSegments[0] %}
                    {% endif %}
                    <!--Subtitle and descriptor-->
                    {% for parent in card.parents %}
                        <!-- If the current page shares  a parent with the other page --> {% assign theirParent = parent | downcase %}
                        {% assign ourTitle = page.title | downcase %}
                        {% if page.parents contains parent %}
                            <!-- They're siblings -->
                            <p class="accent">{{ourFirstName}}'s Sibling</p>
                            {% break %}
                        {% elsif ourTitle == theirParent %}
                            <!-- They're ourChild -->
                            <p class="accent">{{ourFirstName}}'s Child</p>
                        {% endif %}
                    {% endfor %}
                    <!--For all the parents on THIS page-->
                    {% for parent in page.parents %}
                        <!-- If the title of the card matches one of OUR parents, they're our parent--> {% assign ourParent = parent | downcase %}
                        {% assign theirTitle = card.title | downcase %}
                        {% if ourParent == theirTitle %}
                            <p class="accent">{{ourFirstName}}'s
												Parent</p>
                        {% endif %}

                    {% endfor %}
                    <!-- CLAN STUFF--> {% assign linkTitle = card.title | downcase %}
                    {% assign ourTitle = page.title | downcase %}
                    {% assign ourClan = page.Clan | downcase %}
                    {% assign theirClan = card.Clan | downcase %}
                    {% if ourClan == linkTitle %}
                        <p class="accent">{{ourFirstName}}'s Clan</p>
                    {% elsif ourTitle == theirClan %}
                        <p class="accent">{{ourFirstName}} Clan Member</p>
                    {% endif %}
                    <!-- SPOUSE/PARTNER STUFF-->
                    {% for partner in card.partners %}
                        {% assign ourTitle = page.title | downcase %}
                        {% assign theirPartner = partner | downcase %}
                        {% assign theirTitle = card.title | downcase %}
                        {% if theirPartner ==  ourTitle %}
                            <p class="accent">{{ourFirstName}}'s Partner or Spouse</p>
                        {% elsif page.partners contains theirTitle %}
                            <p class="accent">{{ourFirstName}}'s Partner or Spouse</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div style="font-size: 0.9em">
        <p>There are no notes linking to this note.</p>
    </div>
{% endif %}