main[data-layout="family-tree"] {
    max-width: 100%;
    width: 100%;
    margin: unset;
}
// .hidden-overflow-wide-main {
//     max-width: 95%;
//     max-height: 100vh;
//     overflow-y: hidden;
// }

.svg-container {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    // // // // background: linear-gradient(180deg, #4e0024, #2c00a7, #00ffff69);
    // // // background-size: 100% 100%;
    // // background-position: center;
    // background-color: #0022a7;
    &:after,
    &:before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        // background-image: url(/assets/patterns/blurry-gradient-haikei.svg);
        // background-size: contain;
        background-position: center;
        background-attachment: fixed;
    }

    &:before {
        // opacity: 24%;
        opacity: 30%;
        // background-image: url(/assets/locations/TheMirroredMoon.jpg);
        background-image: url(/assets/locations/LostLake2.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        // filter: blur(2px);
        z-index: 0;
        box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.35), inset -10px -10px 10px 0px rgba(0, 0, 0, 0.35);
    }
    .button-wrapper {
        @extend .side-drawer;
    }
}
svg.badge {
    // clip-path: circle(50%);
}
svg image.union {
    opacity: 100%;
    transition: opacity 200ms ease-out;
    &.fade {
        opacity: 20%;
    }
}
svg.family-tree {
    &.hide {
        display: none;
    }
}
svg.family-tree {
    padding-inline: 2rem;

    .family-member-group {
        overflow: visible;
        transition: opacity 200ms ease-out;
        &:hover {
            .glow {
                opacity: 100%;
                transition: opacity 200ms ease-in;
            }
        }
        &.fade {
            opacity: 20%;
        }
        rect {
            fill: transparent;
            stroke: hsl(234, 56%, 58%);
            stroke-width: 1px;
        }
        .family-member {
            height: 100%;
            width: 100%;
            filter: drop-shadow(3px 5px 2px #00000066);
            clip-path: circle(50%);
            transform: scale(1);
            transition: transform 200ms ease-out, clip-path 150ms ease-out;
            // mix-blend-mode: screen;
        }
        &:hover {
            .family-member {
                transform: translate(50%, -20%) scale(1.5) translate(-50%, -20%);
                clip-path: circle(100%);
                transition: transform 200ms ease-in-out, clip-path 150ms ease-out;
            }
        }
        .portrait-outline {
            stroke: white;
            stroke-width: 6px;
            fill: none;
        }
        .portrait-outline__inner {
            // mix-blend-mode: overlay;
        }

        $colors: (url(#_Linear1), url(#_Linear2), url(#_Linear3), url(#_Linear4), url(#_Linear5), dodgerblue);
        @for $gen from 1 to 6 {
            &[data-generation="#{$gen - 1}"] {
                .portrait-outline {
                    stroke: nth($colors, $gen);
                    stroke-width: 2px;
                    fill: transparent;
                    // stroke-dasharray: 5 10;
                    // stroke-dashoffset: 1000;
                    &__glow {
                        stroke: nth($colors, $gen);
                        stroke-width: 2px;
                        filter: blur(4px);
                        fill: none;
                        opacity: 0%;
                    }
                    &__outer-fill {
                        stroke: none;
                        fill: nth($colors, $gen);
                        filter: url(#inner-shadow);
                        // drop-shadow(-3px -3px 6px rgb(67, 59, 128))
                        // drop-shadow(2px 2px 8px rgb(17, 13, 39));
                    }
                    &__inner {
                        // stroke: #211c40;
                        fill: #211c40;
                        stroke: none;
                        // stroke-width: 5px;
                        // fill: nth($colors, $gen);

                        // filter: drop-shadow(-8px 8px 3px rgba(0, 0, 0, 0.5))
                        // drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
                        filter: drop-shadow(-2px -2px 8px rgba(0, 0, 0, 0.5))
                            drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
                    }
                }

                .title-backdrop {
                    fill: #262b59;
                    // stroke: none;
                    stroke: nth($colors, $gen);
                    stroke-width: 2px;
                    // transform: scaleX(1.5);
                    &__glow {
                        fill: none;
                        stroke: nth($colors, $gen);
                        stroke-width: 2px;
                        filter: blur(2px);
                        opacity: 0%;
                    }
                }
                .visible-title {
                    fill: nth($colors, $gen);
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                .portrait-bg {
                    stroke: nth($colors, $gen);
                    fill: white;
                    stroke-width: 6px;
                    // filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.75));
                }
            }
        }
        &:hover {
            .glow {
                opacity: 100%;
            }
            .hover-info {
                transform: translateX(110%) scaleX(1);
                transition-delay: 100ms;
            }
        }
        .hover-info {
            pointer-events: all;
            transform: translateX(0) scaleX(0);
            overflow: visible;
            transition: transform 170ms ease-out;
            &:hover {
                transform: translateX(110%) scaleX(1);
                transition-delay: 100ms;
            }
            .marriedFrom,
            .marriedInto {
                width: 100%;
                fill: white;
                overflow: hidden;
                pointer-events: visible;
                &:hover {
                    fill: hsl(337, 100%, 51%);
                }
            }
        }
        .hidden-info {
            display: none;
        }
        .visible-title {
            text-anchor: middle;
            fill: white;
            // font-size: 0.25rem;
        }
        .text-bg {
            fill: #262b59;
            height: 2rem;
        }
        &:nth-child(odd) {
            .text-bg {
                transform: translateY(-5%);
            }
        }
    }

    line {
        stroke-width: 0.1px;
        transition: stroke 200ms ease-in, opacity 200ms ease-out;
        &.partner {
            stroke: hsl(337, 100%, 65%);
        }
        &.fade {
            opacity: 10%;
        }
    }

    path {
        fill: none;
        stroke: #446dac;
        stroke-dasharray: 1 7;
        stroke-width: 2px;
        // stroke-dasharray: 10, 10, 5, 10;
        stroke-linejoin: round;
        stroke-linecap: round;
        transition: stroke 200ms ease-in, opacity 200ms ease-out;
        &.highlight {
            // stroke:  hsl(234, 56%, 58%);
            stroke: #73fbd3;
            stroke-width: 3px;
        }
        &.fade {
            opacity: 10%;
        }
        $colors: (url(#_Linear1), url(#_Linear2), url(#_Linear3), url(#_Linear4), url(#_Linear5), dodgerblue);
        @for $gen from 1 to 6 {
            &[data-generation="#{$gen - 1}"] {
                stroke: nth($colors, $gen);
                // stroke: url()
            }
        }
        &.partner {
            // stroke: url(#_Linear1);
            // stroke: hsl(337, 100%, 65%);
            &.highlight {
                // stroke: hsl(337, 100%, 65%);
            }
        }
        &.parent {
            // stroke: url(#_Linear1);
            stroke: hsl(337, 100%, 65%);
            &.highlight {
                // stroke: hsl(337, 100%, 65%);
            }
        }
        &.child {
            // stroke: url(#_Linear1);
            // stroke: #73fbd3;
        }
        &.sibling {
        }
        &.hide {
            opacity: 0%;
        }
    }
}
