$colors: (
    secondary: (
        darkest: hsl(337, 98%, 20%),
        800: hsl(337, 98%, 30%),
        700: hsl(337, 98%, 40%),
        600: #ff0a68,
        base: hsl(337, 100%, 57%),
        400: hsl(337, 99%, 70%),
        300: hsl(337, 100%, 80%),
        lightest: hsl(337, 100%, 90%),
    ),
    primary: (
        darkest: hsl(240, 58%, 28%),
        800: hsl(240, 58%, 30%),
        700: hsl(240, 58%, 40%),
        600: hsl(240, 60%, 50%),
        base: hsl(240, 60%, 60%),
        400: hsl(240, 60%, 68%),
        300: hsl(240, 65%, 75%),
        200: hsl(240, 75%, 85%),
        lightest: hsl(240, 86%, 92%),
    ),
    accent: (
        600: hsl(234, 66%, 48%),
        base: hsl(234, 76%, 58%),
        400: hsl(234, 96%, 68%),
        400-2: hsl(239, 84%, 67%),
        300: hsl(234, 75%, 66%),
    ),
    accent-2: (
        700: hsl(266, 100%, 45%),
        600: hsl(266, 100%, 55%),
        base: hsl(266, 100%, 65%),
        400: hsl(266, 100%, 75%),
    ),
    neutral: (
        darkest: hsl(249, 89%, 5%),
        800: hsl(249, 39%, 13%),
        700: hsl(249, 39%, 23%),
        600: hsl(250, 37%, 33%),
        base: hsl(250, 37%, 43%),
        400: hsl(250, 57%, 53%),
        300: hsl(250, 57%, 63%),
        200: hsl(250, 77%, 73%),
        lightest: hsl(250, 97%, 89%),
    ),
    neutral-glass: (
        dark: hsla(249, 39%, 13%, 0.3),
        base: hsla(249, 39%, 23%, 0.3),
    ),
    glass: (
        no-blur: hsla(0, 0%, 44%, 0.478),
        blur: hsla(0, 0%, 44%, 0.267),
        border: hsla(0, 0%, 100%, 0.198),
        no-blur-dark: hsla(240, 11%, 14%, 0.769),
        blur-dark: hsla(240, 11%, 14%, 0.161),
        border-dark: hsla(240, 10%, 40%, 0.568),
    ),
    danger: (
        darkest: hsl(0, 89%, 20%),
        800: hsl(0, 89%, 30%),
        700: hsl(0, 89%, 40%),
        base: hsl(0, 59%, 50%),
        300: hsl(0, 99%, 60%),
        200: hsl(0, 99%, 70%),
        lightest: hsl(0, 99%, 80%),
    ),
    warning: (
        dark: hsl(35, 100%, 30%),
        base: hsl(35, 80%, 50%),
        light: hsl(35, 100%, 65%),
    ),
    success: (
        dark: hsl(100, 100%, 30%),
        base: hsl(100, 100%, 50%),
        light: hsl(100, 100%, 70%),
    ),
    info: (
        dark: hsl(200, 100%, 25%),
        base: hsl(200, 60%, 40%),
        light: hsl(200, 80%, 60%),
    ),
);
