.collapsible {
    position: relative;
    background-color: var(--color-primary-base);
    background-image: url(/assets/locations/maps/CosmosBG.webp);
    background-size: cover;
    background-blend-mode: soft-light;
    color: var(--color-primary-darkest);
    border-radius: unset;
    // background-color: #777;

    span,
    &:after {
        color: var(--color-primary-darkest);
        &[data-variant="ghost"] {
            color: var(--color-primary-base);
            transition: color 200ms ease-in;
        }
    }
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    max-height: 3rem;
    &:after {
        content: "\002B";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 1em;
        font-weight: bold;
    }
    &.active {
        &:after {
            content: "\2212";
        }
        span,
        &:after {
            &[data-variant="ghost"] {
                color: var(--color-secondary-base);
            }
        }
        &:hover,
        &:focus,
        &:focus-within {
            span,
            &:after {
                &[data-variant="ghost"] {
                    color: var(--color-primary-base);
                }
            }
        }
        + .content {
        }
    }
    &:hover,
    &:focus,
    &:focus-within {
        span,
        &:after {
            color: var(--color-secondary-base);
        }
    }
    + .content {
        // max-height: 30vh;
    }
}
.collapsible + .content {
    max-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
    &.active {
        max-height: 400px;
        transition: max-height 200ms ease-in;
        padding: 0.5em;
    }
}
