@import "../_sass/colors";
@import "../_sass/variables";
@import "../_sass/typography";
@import "../_sass/sidebar";
@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.side-controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: var(--space-1);
    gap: var(--space-1);
    justify-content: space-evenly;
}
.hint-toggle {
    position: fixed;
    bottom: var(--space-1);
    right: var(--space-1);
    z-index: 20;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: unset;
    display: grid;
    place-content: center;
}
.hint-container {
    pointer-events: none;
    position: absolute;
    z-index: 800;
    bottom: var(--space-1);
    right: var(--space-3);
    display: flex;
    &[data-variant="centered"] {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }
    // transform: translateY(calc(-1 * var(--space-3)));
    // transform: translateY(-50%);
    // left: 50%;

    button {
    }
    p {
        margin: unset;
        align-self: flex-start;
        pointer-events: none;
        text-align: center;
        opacity: 80%;
        font-size: small;
        transform: scale(1);
        &.hidden {
            transform: scale(0);
        }
    }
    kbd.keyboard-key {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        aspect-ratio: 1/1;
        width: 1rem;
        height: 1rem;
        margin-left: var(--space-1);
        background-color: #9a4dff59;
        padding: var(--space-1);
        font-size: small;
        border-radius: 3px;
    }
}

main {
    max-width: 90%;
    margin: auto;

    &[data-layout="locations_map"] {
        max-width: unset;
        width: 100%;
        padding-top: unset;
    }
    &[data-layout="note"] {
        max-width: 100%;
        article {
            max-width: unset;
        }
        #notes-entry-container content {
            padding-inline: var(--space-6);
            // max-width: 90%;
            // margin: auto;
        }
        @media (min-width: 992px) {
            .cards-drawer-toggle {
                display: none;
            }
        }
    }
    $sidebarLayouts: ("search-page", "family-tree");
    @each $layout in $sidebarLayouts {
        &[data-layout="#{$layout}"] {
            display: flex;
            flex-direction: row;
            margin-inline: unset;
            max-width: 100%;
            .main-content {
                min-width: 75%;
                flex: 2;
            }
        }
    }
    @media (min-width: 1200px) {
        max-width: 80%;
        margin: auto;
    }
}

.list,
.lore,
.location {
    .prev-and-next {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.75em;
        li::marker {
            display: none;
        }
        @media (min-width: 992px) {
            align-items: flex-start;
        }
    }
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    padding-top: 1rem;
    ul {
        grid-column: 1/2;
    }
    @media (min-width: 992px) {
        grid-template-columns: 75% minmax(0, 25%);
    }

    aside {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: center;
        background-color: transparent;

        ul {
            display: flex;
            flex-direction: column;
            background-color: $color-background;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
        }

        li {
            list-style-type: none;
            min-width: 8rem;

            a {
                text-align: left;
                display: inline-flex;
                width: 100%;
                height: 100%;
                font-weight: bold;
                align-items: center;
                transition: all 150ms ease-in;

                &:hover {
                    cursor: pointer;
                    background-color: $color-rich-accent;
                }
            }
        }
        &.page-nav {
            display: none;
            transform: translateX(100%);
            @media (min-width: 992px) {
                transform: translateX(0%);
            }
        }

        // li {
        // 	margin-left: 2rem;
        // 	padding-left: 0.5rem;
        // }
    }

    .gallery-section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
        p,
        ul {
            width: clamp(20rem, 50rem, 100%);
            max-width: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            width: clamp(20rem, 50rem, 100%);
            max-width: 100%;
            // max-width: 50rem;
            // flex-grow: 2;
        }

        li {
            margin-left: 2rem;
            padding-left: 0.5rem;
        }

        li::marker {
            color: $color-secondary;
            content: "⬗";
        }

        hr {
            height: 1px;
            background-image: linear-gradient(
                to right,
                rgba(124, 124, 124, 0),
                hsl(266, 100%, 60%),
                rgba(123, 123, 123, 0)
            );
        }
    }
}

.wrapper {
    background-color: var(--bg-color);
}
body {
    background-color: #1d1928; //$color-background;
    position: relative;
    overflow-y: hidden;
    @media (min-width: 768px) {
        overflow-y: auto;
    }

    &::after {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        // background-size: 100% 100%;
        background-image: linear-gradient(
            155deg,
            rgba(24, 20, 46, 0.752),
            #38355c6e,
            #42407744,
            #4a4c9441,
            #5258b131,
            #5864d000
        );
        // background-image: url("/assets/patterns/pattern.png");
    }

    box-sizing: border-box;
    font-family: $font-family;
    margin: 0 auto;
    line-height: 1.7;
    // padding: 0 6%;
    overflow-x: hidden;
    color: $color-text;
    font-size: 1rem;
    max-width: 100%;
    // max-width: 63em;

    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}

footer {
    margin: 2em 0;
    font-size: 0.8em;
    color: mix($color-text, white, 80%);
    padding-top: 1em;
}

/* #region  Content and layout */

main {
    // // @media (min-width: )
}

.large-image {
    width: 80%;
    height: auto;
    margin: auto;
    max-height: unset !important;
    // max-height:
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    content {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        p {
            width: 100%;
        }

        img {
            max-width: 100%;
            max-height: 20rem;
            width: 100%;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;

            & + img {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
main[data-layout="note"] {
    @media (max-width: 768px) {
        h1 {
            display: none;
        }
        h2.floating-title {
            transform: translateY(1rem);
        }
    }
}

#notes-entry-container {
    display: grid;
    position: relative;
    height: fit-content;
    background-color: var(--bg-color);
    grid-template-columns: 100%;
    grid-template-rows: 30vh 70%;

    content {
        grid-row: 2/3;
        grid-column: 1/2;
        max-height: 70vh;
        overflow-y: auto;
        @media (min-width: 768px) {
            max-height: unset;
            overflow-y: hidden;
        }
    }
    aside.secondary {
        position: fixed;
        flex-direction: column;
        left: 0;
        bottom: 0;
        max-height: 20vh;
        transform: scale(0);
        &.visible {
            transform: scale(1.5);
        }
        h3 {
            display: none;
        }
        .gallery-section {
            height: 100%;
            padding: 0;
        }
        .card-container {
            max-width: 100%;
            flex-direction: row;
            overflow-x: scroll;
        }
    }

    @media (min-width: 768px) {
        grid-template-columns: minmax(100px, 20%) 1fr;
        grid-template-rows: 100%;
        // grid-template: auto 1fr auto / auto 1fr auto;

        aside {
            overflow-x: visible;
            background-color: var(--bg-color-glass-el-1);
            border-inline: var(--glass-border);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            &.secondary {
                transform: scale(0);
            }

            &.primary {
                position: sticky;
                grid-row: 1/2;
                grid-column: 1/2;
                height: 100vh;
                max-height: 100vh;
                overflow: visible;
                .floating-title {
                }
            }
        }
    }
    @media (min-width: 992px) {
        grid-template-columns: minmax(100px, 20%) 1fr minmax(100px, 20%);
        aside.secondary {
            transform: scale(1);
            padding-top: var(--space-8);
            position: sticky;
            grid-row: 1/2;
            grid-column: 3/4;
            transform: scale(1);
            height: 100vh;
            max-height: 100vh;
            .card-container {
                display: flex;
                gap: var(--space-6);
                flex-direction: column;
                align-items: center;
                scroll-snap-type: y mandatory;
                scroll-snap-align: start;
                position: relative;
                justify-content: flex-start;
                padding-inline: unset;
                overflow-x: hidden;
                padding: 10% 0;
            }
        }
    }

    content {
        @media (min-width: 768px) {
            min-width: 70%;
            grid-row: 1/2;
            grid-column: 2/3;
            padding: 2rem;
        }

        img {
            max-width: 100%;
            max-height: 20rem;
        }

        li:not(.chip) {
            margin-left: 2rem;
            padding-left: 0.5rem;
        }

        li::marker {
            color: $color-secondary;
            content: "⬗";
        }

        hr {
            height: 1px;
            background-image: linear-gradient(
                to right,
                rgba(124, 124, 124, 0),
                hsl(266, 100%, 60%),
                rgba(123, 123, 123, 0)
            );
        }
    }
}
