.location-info {
    display: grid;
    height: 100vh;
    width: 0%;
    position: static;
    right: 100%;
    max-width: 50vw;
    z-index: 20;
    background-color: hsla(253, 56%, 8%, 0.435);
    backdrop-filter: blur(8px);
    transition: width 150ms ease-in;
    &,
    &__content {
        overflow: visible;
    }

    .side-nav {
        display: flex;
        height: 100%;
    }

    .location-info__header {
        @extend .dark-background;
        // background-color: rgba(14, 9, 32, 0.435);
        --border-color: #6065b17a;
        border-right: 1px solid var(--border-color);
        display: grid;
        grid-template-rows: 40% 60%;
        padding: unset;
        padding-top: 2em;
        // display: flex;
        // flex-direction: column;
        backdrop-filter: blur(8px);
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100%;
        gap: 0.5em;
        border-top-right-radius: 8px;
        .controls {
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5em;
            z-index: 1;
        }
        h1 {
            text-orientation: sideways;
            writing-mode: vertical-rl;
            padding: unset;
            margin: unset;
            font-size: 1rem;
        }
        hr {
            display: none;
        }
    }
    &__content {
        // max-height: 45vh;
        height: 100%;

        overflow: visible;
        // overflow-y: auto;
        // overflow-x: hidden;
        padding-top: 2em;
        h3 {
            font-size: small;
        }
    }
    ul:not(.location-info__cast) {
        display: grid;
        grid-auto-rows: minmax(0, 80px);
        gap: 2rem;
        justify-items: center;
        background-color: hsla(261, 55%, 24%, 0.424);
        backdrop-filter: blur(2px);
        width: 100%;
        padding: 0.5em 2rem;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    &__children,
    &__connections {
        display: grid;
        grid-auto-rows: minmax(0, 80px);
        gap: 2rem;
        justify-items: center;
        background-color: hsla(261, 55%, 24%, 0.424);
        backdrop-filter: blur(2px);
        width: 100%;
    }
    &__description {
        font-size: medium;
        line-height: 200%;
    }

    .map-cast-card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        a {
            width: 80%;
            align-items: center;
            display: inline-flex;
            padding: 0.5rem;
            gap: 1rem;
        }
        .card-text {
            // margin-right: auto;
            // margin-left: auto;
        }
        img {
            // margin-right: auto;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            object-position: top;
            aspect-ratio: 1/1;
        }
    }
    position: fixed;
    right: 100%;
    transform: translateX(0%);
    max-width: 90vw;
    &.can-be-expanded {
        width: 0;
        .flatten {
            width: 0;
        }
    }
    &.can-be-expanded:not(.expanded) {
        .flatten {
            .tab-content {
                overflow: hidden;
            }
            .padding-medium {
                padding: 0;
            }
        }
    }
    &.expanded {
        transform: translateX(100%);
        width: 100vw;
        transition: width 150ms ease-out;
        .flatten {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        max-width: 50vw;
        position: static;
        right: unset;
        &.expanded,
        &.can-be-expanded {
            transform: unset;
        }
        &.expanded {
            width: 40vw;
        }
    }

    h1,
    h2,
    h3 {
        margin-bottom: unset;
    }
}

.child-location {
    display: flex;
    .card-title {
        font-size: calc(clamp(1.25rem, calc(2rem - 3vw), 6vw));
        color: var(--color-primary-200);
        // mix-blend-mode: color-dodge;
        // text-shadow: 2px 2px 3px #454c6f;
        padding: 0.5em 0em;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-info {
        &__description {
            grid-row: 2/3;
            font-size: 1rem;
            text-overflow: clip;
        }
    }
}
.location-info,
.child-location-info {
    &__content {
        &.flat {
            grid-template-rows: 1rem minmax(0, 1fr);
            // .tabs{
            //     max-height: 60vh;
            //     bottom: 0;
            // }
        }
        .map-info-card {
            height: 100%;
            grid-row: 1/2;
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-rows: minmax(0, 70%) minmax(0, 1fr);
            gap: 1rem;
            margin-bottom: 1rem;
            justify-content: center;
            .card-title {
                // /* if we can clip, do it */
                // -webkit-text-fill-color: transparent;
                // -webkit-background-clip: text;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // max-height: 20vh;
                overflow: auto;
                h1,
                h2,
                h3 {
                    letter-spacing: 0.1rem;
                }
                h1,
                h2,
                h3,
                p {
                    margin: unset;
                    // display: flex;
                    text-align: center;
                }
                .bold {
                    font-weight: bold;
                    font-size: xx-small;
                    margin-top: unset;
                    margin-bottom: 0;
                }
                p {
                    font-size: 0.75em;
                }
            }
            .card-portrait {
                grid-row: 1/2;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    -webkit-mask-image: url(/assets/locations/maps/portrait-mask.webp);
                    mask-image: url(/assets/locations/maps/portrait-mask.webp);
                    mask-mode: alpha;
                    -webkit-mask-position: center;
                    mask-position: center;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    max-height: 100%;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                }
            }
        }
    }
}
.card-styles {
    --border-color: #6065b17a;
    --shadow-color-dark: hsla(261, 63%, 16%, 0.578);
    --shadow-color-light: rgba(50, 50, 93, 0.25);
    height: 60%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 1rem;
    text-align: right;
    padding: 0.5em 1em;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-color-light) 0px 6px 12px -2px, var(--shadow-color-dark) 0px 3px 7px -3px;
    aspect-ratio: 2.35/3.5;
    max-height: 45vh;
}
.top-card {
    @extend .card-styles;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: unset;
    .map-info-card {
        display: grid;
        grid-template-rows: minmax(0, 20%) minmax(0, 80%);
        opacity: 0%;
        transition: opacity 150ms ease-out;
        .card-content {
            justify-content: flex-start;
            overflow: visible;
            max-height: 100%;
            p {
                background-color: rgba(20, 19, 61, 0.417);
                padding: var(--space-1);
                text-align: center;
                color: white;
                // -webkit-mask-image: url(/assets/locations/GrungeMaskV2.png);
                // mask-image: url(/assets/locations/GrungeMaskV2.png);
                // -webkit-mask-position: center;
                // mask-position: center;
                // -webkit-mask-size: 102% 102%;
                // mask-size: 102% 102%;
                overflow: hidden;
                max-height: 100%;
            }
        }
        .card-header {
            h3 {
                font-size: 1rem;
            }
            h1,
            h2,
            h3,
            p {
                margin-top: unset;
                margin-bottom: unset;
            }
            h1,
            h2,
            h3 {
                font-size: 1.25rem;
            }
            p {
                font-size: small;
                font-weight: bold;
                font-style: italic;
            }
        }
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 100%;
        background-image: var(--ui-gradient);
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 2;
        background-size: 100%;
        -webkit-mask-image: var(--blank-img);
        mask-image: var(--blank-img);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        transition: opacity 200ms ease-out;
    }

    &.highlighted {
        &:after {
            opacity: 70%;
        }
        .map-info-card {
            opacity: 100%;
            transition: opacity 250ms ease-in;
        }
        &:before {
            opacity: 0%;
        }
    }
    &:after {
        transition: opacity 200ms ease-out;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        /*! margin: 2em; */
        opacity: 0%;
        -webkit-mask-image: url("/assets/locations/GrungeMaskV2.png");
        mask-image: url("/assets/locations/GrungeMaskV2.png");
        // mask-size: cover;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        // // mask-position: right;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-mode: alpha;
        z-index: -1;
    }

    h1,
    h2,
    h3 {
        margin-bottom: unset;
        text-align: left;
        &::before {
            content: "";
        }
    }
    h2 {
        white-space: pre-wrap;
        font-size: 1.25rem;
    }
    h3 {
        text-transform: none;
        font-size: 1rem;
        text-align: left;
    }
}

.bottom-card {
    @extend .card-styles;
    z-index: 1;
    padding: 1em 1em;
    border: 1px solid #6065b17a;
    &:after {
        transition: opacity 200ms ease-out;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-img);
        background-size: cover;
        opacity: 0%;
        -webkit-mask-image: url("/assets/locations/GrungeMaskV2.png");
        mask-image: url("/assets/locations/GrungeMaskV2.png");
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: none;
        mask-repeat: none;
        mask-mode: alpha;
        z-index: -1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        // outline: 4px double var(--border-color);
    }
}
.top-card {
    top: 0%;
    transform: rotateZ(-30deg);
    left: 50%;
}
.bottom-card {
    top: 80%;
    left: 20%;
    transform: rotateZ(30deg);
    &__title {
        position: absolute;
        bottom: 0;
        // color: black;
        color: var(--color-primary-200);
        // background-color: #1a0230b3;
        width: 100%;
        height: min-content;
        font-size: 1em;
        text-align: center;
    }
}
@media (min-width: 450px) {
    .top-card {
        top: -10%;
    }
}
@media (min-width: 576px) {
    .top-card {
        top: 80%;
        transform: rotateZ(10deg);
        left: 50%;
    }
    .bottom-card {
        top: 80%;
        left: 20%;
        transform: rotateZ(-10deg);
    }
}

@media (min-width: 768px) {
    .top-card {
        top: 50%;
        left: unset;
        transform: translateY(-50%) rotateZ(-10deg);
    }
    .bottom-card {
        top: 60%;
        left: unset;
        transform: translateY(-50%) rotateZ(-30deg);
        &__title {
            position: absolute;
            top: unset;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.location__controls {
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(-50%);
    .controls__content {
        opacity: 100%;
        transition: opacity 100ms ease-in-out;
        &.hidden {
            opacity: 0%;
            transition: opacity 100ms ease-in-out;
        }
    }
}
