@use "variables" as *;

nav {
    button {
        cursor: pointer;
        transform: scale(1);
        transition: transform 120ms ease-in-out;
        &:hover {
            transform: scale(1.25);
        }
    }
    .nav-section {
        display: none;
    }
    &.open {
        .nav-section {
            display: flex;
            flex-direction: column;
        }
    }
    @media (min-width: 1000px) {
        $layout: var(--page-layout);
        @if $layout != "locations_map" {
            display: flex;
            position: fixed;
            width: 100%;
            background-color: rgba(39, 33, 70, 0.75);
            box-shadow: 0 4px 8px 0px rgba(24, 20, 46, 0.6);
            margin: 0;
            margin-bottom: 3rem;
            z-index: 200;
            min-height: 2rem;
        }
    }

    .nav-section {
        display: flex;
        align-items: center;
        // min-height: 2rem;
    }
}
nav {
    position: fixed;
    display: flex;
    z-index: 900;
    .main-nav-toggle {
        padding: 1rem;
        background-color: var(--color-primary-base);
        border: unset;
        border-radius: 50%;
        display: grid;
        place-content: center;
        width: 2rem;
        height: 2rem;
        &.inner {
            align-self: flex-end;
        }
    }
    @media (min-width: 1000px) {
        @if var(--page-layout) != "locations_map" {
            .main-nav-toggle {
                display: none;
            }
        }
    }
}

ul.nav-section {
    &.mobile {
        //mobile navigation
        // vertical bar
        padding: 1rem;
        max-width: 50%;
        border-right: 1px solid whitesmoke;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        justify-content: flex-start;
        right: 100%;
        transform: translateY(0%);
        transition: transform 200ms ease-in;
        height: 100%;
        box-shadow: 4px 0px 8px rgba(39, 33, 70, 0.45);
        .dropdown {
            left: 100%;
        }
        &.expanded {
            transition: transform 200ms ease-out;
            transform: translateX(100%);
        }

        @media screen and (min-width: 1000px) {
            // hide entirely if screen is big
            @if var(--page-layout) != "locations_map" {
                display: none;
            }
        }
    }
    &.desktop {
        padding: 0.5rem 0.5rem;
        // border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 2px 8px rgba(39, 33, 70, 0.45);
        //desktop navigation
        //hide each menu item except for the "home" menu item
        button:first-child {
            margin-right: 1rem;
        }
        section.menu-item:not(:first-of-type) {
            display: none;
        }
        @media (min-width: 992px) {
            padding: 0.5rem 1rem;
        }
        @media screen and (min-width: 1000px) {
            //show all menu items
            @if var(--page-layout) != "locations_map" {
                section.menu-item:not(:first-of-type) {
                    display: flex;
                }
            }
        }
    }
}
/* #region NAV and NAV Dropdowns   */
.nav-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @supports (backdrop-filter: blur(12px)) {
        backdrop-filter: blur(12px);
    }
}

.nav-section .menu-item {
    position: relative;
    width: fit-content;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: none;
        text-transform: uppercase;
        font-family: "Aquawax", seif;
        font-size: 1rem;
        color: var(--color-accent-base);
        white-space: nowrap;
    }

    &:hover {
        cursor: pointer;
        > a {
            color: $color-rich-accent !important;
            text-shadow: #5864d0a5 0px 0px 3px, #5864d091 0px 0px 5px;
            background: transparent !important;
        }
        // background-color: $color-rich-accent;

        .dropdown {
            transform: scaley(1);
            opacity: 100%;
            transition: transform 150ms ease-in, opacity 150ms ease-in;
            transition-delay: 220ms;
            z-index: 950;
        }
    }
}

.dropdown {
    display: flex;
    top: 100%;
    flex-direction: column;
    &.grid {
        align-self: stretch;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    z-index: 200;
    position: absolute;
    transform: scaley(0);
    opacity: 0%;
    transform-origin: top left;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
    cursor: auto;

    max-height: 70vh;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-color: $color-border;
    color: $color-primary;
    background-color: lighten($color-background, 5%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 18vw;

    &::before {
        content: "▲";
        position: absolute;
        width: 10%;
        height: 10%;
        color: lighten($color-background, 5%);
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    li {
        list-style-type: none;
        min-width: 8rem;

        a {
            display: inline-flex;
            width: 100%;
            height: 100%;
            padding: 1rem 1.25rem;
            // justify-content: center;
            align-items: center;
            transition: all 150ms ease-in;

            &:hover {
                cursor: pointer;
                background-color: $color-rich-accent;
            }
        }
    }
}
