@import "../_sass/variables";
@import "../_sass/typography";

.page-nav {
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    // overflow-x: hidden;
    ul {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    ul li a {
        padding: 0.3rem 0.75rem;

        &.anchor-two {
            font-size: 0.9em;
            text-transform: unset;
            // &::before {
            //     content: "֎";
            //     margin-right: 1rem;
            // }
        }

        &.anchor-three {
            font-size: 0.85em;
            // margin-left: 1rem;
            margin-top: 0.5rem;
            text-transform: unset;
            // margin-bottom: 1rem;
            & + .anchor-three {
                margin-top: unset;
            }
            // &::before {
            //     content: "֎";
            //     margin-right: 1rem;
            // }
        }
        &.anchor-four {
            font-size: 0.75em;
            // margin-left: 2rem;
            font-weight: 400;
            color: #a287ff;
            // color: lighten($color-secondary, 20%);
            // opacity: 75%;
        }
        &.active {
            // --color-active: hsl(201, 83%, 53%);
            --color-active: hsl(234, 56%, 58%);
            border-radius: 0px;
            // border-bottom: 2px solid var(--color-active);
            // border-left: 4px solid var(--color-active);
            color: var(--color-active);
            text-shadow: #5864d053 0px 0px 3px, #5864d057 0px 0px 5px;
            &::before {
                content: "⟴ ";
                text-decoration: none;
                margin-right: 0.5rem;
            }
        }
        &:hover {
            color: rgb(24, 20, 46);
        }
    }
}
