@import "../_sass/variables";
/* #region SIDEBAR  */
aside {
    align-self: start;
    position: sticky;
    top: 0;
    grid-column: 2/3;
    overflow: visible;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    background-color: rgba(39, 33, 70, 0.75);

    @supports (backdrop-filter: blur(12px)) {
        backdrop-filter: blur(12px);
    }

    // box-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.4);
    overflow: visible;

    @media (min-width: 1000px) {
        height: 100vh;
    }

    // @media (min-width: 1440px) {
    // 	right: 10%;
    // }

    // @media (min-width: 2000px) {
    // 	right: 15%;
    // }

    // @media (min-width: 2300px) {
    // 	right: 20%;
    // }
    &.primary {
        justify-content: center;
    }

    .featured-image {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 900;
        @media (min-width: 1000px) {
            height: fit-content;
        }

        img {
            object-fit: contain;
            max-height: 80%;
            border-radius: $border-radius;
            outline: 2px double var(--color-accent-base);
            outline-offset: -1rem;
            transition: all 200ms ease-in;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
            @media (min-width: 1000px) {
                max-width: 100%;
                display: block;
                max-height: 100%;
                transform: scale(1.12) translate(-2rem);

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    outline: inherit;
                    filter: blur(2px);
                }

                &:hover {
                    filter: sepia(30%);
                    outline-offset: 0rem;
                    cursor: pointer;
                }
            }
        }
    }

    .floating-title {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-block-start: unset;
        margin-block-end: unset;
        margin-inline-start: unset;
        margin-inline-end: unset;
        font-size: large;
        border-radius: 8px;
        box-shadow: 2px 5px 9px 4px #150a2975;
        background-color: rgba(33, 28, 64, 0.902);
        align-self: center;
        @media (min-width: 1000px) {
            transform: translate(1rem, 3rem);
            align-self: flex-end;
            padding: 0.25rem 1rem 0.25rem 1rem;
            font-size: x-large;
        }
    }
}

/* #endregion */

/* #endregion */
