@import "../_sass/colors";
// @use "shadows" as *;
$color-primary: hsl(201, 83%, 53%);
$color-secondary: hsl(337, 100%, 51%);
$color-accent: hsl(250, 66%, 62%);
$color-magenta: hsl(308, 58%, 29%);
$color-yellow: hsl(45, 84%, 52%);
$color-accent-comp: #4a5ab0;
$color-rich-accent: #755fde;
$color-rich-accent-4: #5a66d0;
$color-rich-accent-4-lighter: hsl(234, 66%, 68%);
$color-rich-accent-4-lightest: hsl(234, 76%, 78%);
$color-rich-accent-2: #22a4ea;
$color-rich-accent-3: hsl(337, 100%, 51%);
$color-pastel-lilac: hsl(249, 100%, 79%);
$color-pastel-green: hsl(159, 100%, 79%);
$color-pastel-blue: hsl(219, 100%, 79%);
$color-subtext: #9291aa;
$color-text: #d2cfffd6;
$color-text-emphasis: #918bff;
$color-text-accent: hsl(243, 33%, 55%);
$color-border: hsl(232, 42%, 64%);
$color-background: hsl(249, 39%, 13%); //hsl(249, 20%, 19%);
$color-background-8: hsla(249, 39%, 13%, 0.8);
$color-lighter-background: hsl(250, 37%, 19%);
$elevation-color-1: hsla(244, 12%, 45%, 0.25);
$-color-very-dark-background: hsl(250, 20%, 19%);
$color-box-background: mix($color-background, rgba(45, 48, 80, 0.623), 74%);
$border-radius: 5px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

html {
    scroll-behavior: smooth;
}

:root {
    --border-color: hsla(236, 34%, 54%, 0.236);
    --shadow-color-dark: hsla(261, 63%, 16%, 0.578);
    --shadow-color-light: rgba(50, 50, 93, 0.25);
    --glass-border: 1px solid var(--border-color);
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --color-#{$color}-#{$shade}: #{$value};
        }
    }
    // @each $shadow, $value in $shadows {
    //     --shadow-#{$shadow}: #{$value};
    // }
}
