<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="loading">
        {% include loader.html %}
        <nav data-layout="{{page.layout}}" style="--page-layout: {{page.layout}}">

            {% include nav.html isTopNav=true navType="desktop" %}
            {% include nav.html isTopNav=false navType="mobile" %}
        </nav>
        {% include breadcrumbs.html %}
        {%- include snackbar.html -%}

        <div class="wrapper">
            <main data-layout="{{page.layout}}">
                {{ content }}
            </main>
        </div>

        <script src="/assets/scripts/toggle-ui.js" type="module"></script>


        {% include lazyload.html %}
    </body>

</html>
