---
layout: article-base
---

<article class="location">
    {% include page-nav.html headingLevel=2 %}
    <content
	{% if page.rollTable %}
		data-roll-table="{{page.rollTable}}"
	{% endif %}
	{% if page.macro %}
		data-macro="{{page.macro}}"
	{% endif %}
	{% if page.mapData %}
		data-map-data="{{page.mapData}}"
	{% endif %}
	{% if page.mapUrl %}
		data-map-url="{{page.mapUrl}}"
	{% endif %}
	>
        {% include anchor_headings.html html=content anchorBody="#" %}
        <!-- {{content}} -->
    </content>
</article>

<script src="/assets/scripts/toggle-ui.js"></script>
